.banner {
    background-image: url(./img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img-border {
    background-color: black;
    height: 2px;
    width: 3rem;
    margin: 25px 0 !important;
}

.client img {
    text-align: center !important;
}

.card-images {
    height: 14.68rem;
}


@media screen and (max-width:992px) {}

@media screen and (max-width:768px) {
    .card-images {
        height: 11rem;
    }

    .update-img {
        margin-top: 30%;
    }
}

@media screen and (max-width:575px) {
    .card-images {
        height: 22rem;
    }

    .mountain {
        width: 100%;
        margin: 2rem 0;
    }

    .alone2 {
        width: 100%;
    }

    .head-img {
        height: 8rem;
        width: 8rem !important;
        margin: 1rem 0;
    }

    .clients {
        margin: 1rem 0;
    }

    .heading {
        text-align: center;
        font-size: 2.7rem !important;
    }

    .heading2 {
        text-align: center;
        font-size: 2.5rem !important;
    }
}