.banner {
    background-image: url(./img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img-border {
    background-color: black;
    height: 2px;
    width: 3rem;
    margin: 25px 0 !important;
}

.client img {
    text-align: center !important;
}

.card-images {
    height: 14.68rem;
}


@media screen and (max-width:992px) {}

@media screen and (max-width:768px) {
    .card-images {
        height: 11rem;
    }

    .update-img {
        margin-top: 30%;
    }
}

@media screen and (max-width:575px) {
    .card-images {
        height: 22rem;
    }
}